@page
@model EulerPages.Pages.Problems.IndexModel

@{
    ViewData["Title"] = "Problems";
}

<h2>Problems</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Problem[0].ProblemId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Problem[0].Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Problem[0].Question)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Problem[0].Solutions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Problem[0].Answer)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Problem) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProblemId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @if (item.Solutions != null)
                {
                    @foreach (var solution in item.Solutions)
                    {
                        @Html.Raw(solution.SolutionId)
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProblemId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProblemId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProblemId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>